<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
#foreach($lib in $tagLib.tagLibraryInfos)
<%@ taglib uri="${lib.URI}" prefix="${lib.shortName}" %> 
#end
#if ( (! ${attribute}) && ("$!{attribute}" == "" ))
	#set( $test_id = "${tag.tagName}-${attack.name}" )
	#set( $test_title = "${tag.tagName} - ${attack.displayName}" )
#else
	#set( $test_id = "${tag.tagName}-${attribute.name}-${attack.name}" )
	#set( $test_title = "${tag.tagName} - ${attribute.name} - ${attack.displayName}" )
#end
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>${test_title}</title>
</head>
<body onload="checkEventHandlers()">
<script>
var hasRun = 0;

function x()
{
	//alert('${test_id}:' + Date());
	if ( hasRun++ >= 1 )
	{
		return;
	}

	var attributeResultNode = document.getElementById("result");
	attributeResultNode.value = "breakIt('${test_id}')";
}
</script>
<h1>${test_title}</h1>
<input id="result" type="text" value="passIt('${test_id}')"/>
<div id="test-case">
${test_prefix}
${tag_test}
${test_suffix}
</div>
<script>
var eventHandlers = new Array( "onabort", "onblur", "onchange", "onclick",
		"ondblclick", "onerror", "onfocus", "onkeydown", "onkeypress", 
		"onkeyup", "onload", "onmousedown", "onmousemove", "onmouseout", 
		"onmouseover", "onmouseup", "onreset", "onresize", "onselect", 
		"onsubmit", "onunload");

function arrayContains( array, value )
{
	for (var arrIdx = 0; arrIdx < array.length; arrIdx++ )
	{
		if (array[arrIdx] == value)
		{
			return true;
		}
	}
	
	return false;
}

function checkEventHandlers()
{	
	var attack = "${encoded_attack}";
	var testCase = document.getElementById('test-case');
	var tags = testCase.getElementsByTagName("*");
	for ( var tagIdx = 0; tagIdx < tags.length; tagIdx++ )
	{
		var attrs = tags[tagIdx].attributes;

      for ( var attrIdx=0; attrIdx<attrs.length; attrIdx++ )
      {
      	if ( arrayContains( eventHandlers, attrs[attrIdx].nodeName ) 
      			&& attrs[attrIdx].value == attack )
      	{
				eval( attrs[attrIdx].value );
			}
		}
	}
}
</script>
</body>
</html>